@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --primary-color: #2c2c34;
  --second-color: #f5cb5c;
  --third-color: #e8eddf;
  --font-title: 2rem;
}

html {
  font-family: Inter, sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "container"
    "section"
    "footer";
  padding: 5vw;
}

header {
  grid-area: header;
}

main{
  grid-area: main;
}

.container {
  grid-area: container;
}

section {
  grid-area: section;
}

h1 {
  color: var(--second-color);
}

.textarea {
  position: relative;
  width: 100%;
  height: 100%;
}

textarea {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border: none;
  color: var(--second-color);
  text-align: justify;
  font-size: 1.5rem;
  border: none;
  outline: none;
  resize: none;
}

.placeholder {
  position: absolute;
  top: 1px;
  left: 0%;
  color: var(--second-color);
  font-size: var(--font-title);
  font-style: bold;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:focus + .placeholder {
  opacity: 0;
}

i {
  color: var(--third-color);
  margin: auto 0;
}

.notificacao {
  display: flex;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
}

a {
  padding: 3vh;
  text-decoration: none;
  color: var(--third-color);
  text-align: center;
  border-radius: 20px;
  &:nth-child(1) {
    background-color: var(--second-color);
  }
  &:nth-child(2) {
    color: var(--second-color);
    border: 1px solid;
  }
}

div p {
  color: var(--third-color);
}

.decodificador img {
  display: none;
}

.decodificador {
  margin: 15px 0 15px 0;
  background-color: var(--third-color);
  padding: 1.8rem;
  border-radius: 3rem;
}

.decodificador h2,
p {
  text-align: center;
}

footer {
  grid-area: footer;
  min-height: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--second-color);
}

@media (min-width: 768px) {
  img {
    height: 5rem;
  }

  .buttons {
    flex-direction: row;
    justify-content: space-around;
  }

  a {
    padding: 5vw 12vw 5vw 12vw;
    font-size: larger;
    border-radius: 50px;
  }
}

@media (min-width: 1200px) {
  body {
    min-height: 95.9vh;
    grid-template-rows: auto auto 5vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header section"
      "main main section"
      "container container section"
      "footer footer section";
      padding: 2vw 2vw 0 2vw;
      column-gap: 15px;
  }

  .decodificador img {
    align-self: center;
    width: 100%;
    height: 75%;
    display: block;
  }

  a {
    padding: 2vw 7vw 2vw 7vw;
  }
}
